.section4 {
  background-color: #f3f9ff !important;
  flex-direction: column;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.containerThree {
  max-width: 1320px;
  padding-bottom: 2rem;
  margin-top: 2rem;
  padding: 0 4rem;
  .headerText {
    font-size: 2.5rem;
    color: black;
    text-align: left;
    font-weight: 800;
    line-height: 1.3;

    margin-bottom: 5rem;
    margin-top: 6rem;
  }

  .headerTextSecond {
    font-size: 2.5rem;
    color: black;
    text-align: left;
    font-weight: 800;
    line-height: 1.3;

    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .intro {
    font-size: 1.125rem;
    color: rgba(65, 68, 89, 0.7); /* Muted color using rgba with alpha */
    text-align: left;
    max-width: 590px;
    margin-bottom: 3rem;
  }
}

.container {
  max-width: 1320px;
  padding-bottom: 2rem;
  margin-top: 2rem;
  padding: 0 2rem;
  .headerText {
    font-size: 2.5rem;
    color: black;
    text-align: left;
    font-weight: 800;
    line-height: 1.3;

    margin-bottom: 5rem;
    margin-top: 6rem;
  }

  .headerTextSecond {
    font-size: 2.5rem;
    color: black;
    text-align: left;
    font-weight: 800;
    line-height: 1.3;

    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .intro {
    font-size: 1.125rem;
    color: rgba(65, 68, 89, 0.7); /* Muted color using rgba with alpha */
    text-align: left;
    max-width: 590px;
    margin-bottom: 3rem;
  }
}

.fieldsM {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.4rem;

  @media (max-width: 769px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.card-item {
  padding: 1rem 1rem;

  position: relative; /* Allow for absolute positioning inside */
  background-color: #fff; /* Card background color */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
  overflow: hidden; /* Ensure no content overflows outside the card */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover effect */

  &:hover {
    transform: translateY(-10px); /* Lift the card on hover */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); /* Enhanced shadow */
  }
}

.field-item {
  width: calc(34.333% - 1rem); /* Three cards in a row */

  .bimg {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      max-width: 300px;
    }
  }

  .card-body {
    padding: 1rem;
  }

  h2.h4 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-top: 1rem;
    text-align: left;
  }

  p.text-muted {
    font-size: 1rem;
    color: rgba(65, 68, 89, 0.7); /* Muted color using rgba with alpha */
    margin-top: 1rem;
    text-align: left;

    @media (max-width: 769px) {
      font-size: 0.875rem;
    }
  }

  @media (max-width: 769px) {
    width: 95% !important;
    margin-bottom: 5rem;
  }
}

.services {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.service-item {
  width: calc(50% - 1rem); /* Two cards in a row */
  position: relative;
  overflow: visible;
  margin-bottom: 3rem;
  .service-icon {
    color: white;
    background-color: rgba(0, 150, 202, 1) !important;
    border-radius: 0.5rem; /* Rounded corners */
    padding: 0; /* Remove padding to ensure the square stays 70x70 */
    width: 70px; /* Set the width to 70px */
    height: 70px; /* Set the height to 70px */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -2rem;
    left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center; /* Center the icon inside */
    overflow: visible;
  }

  .card-body {
    padding: 2rem;
  }

  h2.h4 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-top: 1rem;
    text-align: left;
  }

  p.text-muted {
    font-size: 1rem;
    color: #6c757d;
    margin-top: 1rem;
    text-align: left;
  }
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .field-item {
    width: 100%; /* Stack field items in a column */
  }

  .service-item {
    width: 100%; /* Stack service items in a single column */
  }
}
