.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 1rem;
  z-index: 10;
}

.header-container {
  display: flex;
  width: 100%;
  max-width: 1320px;
  justify-content: space-between;
  align-items: center;
}

.logo-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 3rem;
  width: 9rem;
  padding: 0;
}

.nav {
  display: flex;
  gap: 0.2rem; /* Use gap for spacing between flex items */
}

.nav-button {
  background: none;
  padding: 0.75rem 1rem;
  border: none !important;
  &:hover {
    color: #007bb5;
    border: none !important;
  }

  &:focus {
    outline: none;
    border: none !important; /* Ensure no border on focus */
  }
}

.contact-button {
  background-color: #0096ca;
  color: white;
  padding: 0.3rem 0.5rem;
  border-radius: 0.4rem;
  &:hover {
    color: #007bb5;
  }
}

@media (max-width: 990px) {
  .nav {
    display: none; /* Hide the navigation on smaller screens */
  }

  .contact-button {
    display: none; /* Hide the navigation on smaller screens */
  }
}
